-f https://download.pytorch.org/whl/cpu
torch
gitpython
fire
scikit-learn
numpy
pytz
langchain>=0.3
langchain-ollama
transformers
datasets
pydantic>=2.0.0
fastapi
https://github.com/semantic-ai/decide-ai-service-base/releases/download/0.1.2/decide_ai_service_base-0.1.2-py3-none-any.whl
